.services-provided {
  height: auto;
  margin: -280px 0 60px 0;
  font-family: "PT Sans", sans-serif;
  
	.header {
		// border: 3px solid red;
		width: 65%;
		margin: 0 auto;
		.title {
			font-family: "PT Sans", sans-serif;
			font-weight: 300;
			font-style: normal;
			font-size: 42px;
			letter-spacing: .4px;
			text-transform: none;
			line-height: 1.2em;
		}

		.subtitle {
			font-family: "PT Sans", sans-serif;
			font-weight: 300;
			font-style: normal;
			font-size: 32px;
			letter-spacing: 0px;
			text-transform: none;
      line-height: 1.2em;
      margin-bottom: 50px;
		}
	}
	.page-break {
		border: 0;
		height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .audio-service {
    max-width: 80%;
    margin: 80px auto 0 auto;
    text-align: left;
  }

  .top-service-img {
    height: 550px;
    width: 100%;
  }

  h3 {
    margin-top: 30px; 
  }
  
  .services-info {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-items: center;
    justify-content: center;

    .automation,
    .video {
      margin-top: 80px;
    }

    h3 {
      text-align: left;
      width: 75%;
      margin: 30px auto;
    }

    p {
      width: 75%;
      margin: 0 auto;
      text-align: left;
      margin-bottom: 80px;
    }
    .service-img {
      height: 400px;
      width: 500px;
    }
  }
}
