.phone-page {
	font-family: "PT Sans", sans-serif;

	.header {
		background-color: #201a16;
		height: 150px;
	}

	.security-info {
		max-width: 75%;
		margin: 0 auto;

		.page-heading {
			h1 {
				margin-top: 80px;
				margin-bottom: 40px;
			}

			p {
				margin-bottom: 80px;
			}
		}

		.honeywell-img {
			width: 100%;
		}

		.security-systems {
			text-align: left;

			h2 {
				margin-top: 30px;
			}
		}

		.bottom-services {
			display: flex;
			justify-content: space-between;
			text-align: left;
			margin-top: 80px;
			margin-bottom: 80px;

			.wireless-phones {
				max-width: 45%;

				h2 {
					margin-top: 60px;
				}
			}

			.desktop-phones {
				max-width: 45%;

				h2 {
					margin-top: 60px;
				}
			}

			img {
				height: 325px;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 2560px) {
	.phone-page .security-info .honeywell-img {
			height: 1000px;
	}

	.phone-page .security-info .bottom-services img {
		height: 655px;
	}
}

@media screen and (max-width: 1920px) {
	.phone-page .security-info .honeywell-img {
			height: 900px;
	}

	.phone-page .security-info .bottom-services img {
		height: 500px;
	}
}

@media screen and (max-width: 1440px) {
	.phone-page .security-info .honeywell-img {
			height: 600px;
	}

	.phone-page .security-info .bottom-services img {
		height: 350px;
	}
}

@media screen and (max-width: 415px) {
	.phone-page .header {
		display: none;
	}

	.phone-page .security-info {
		max-width: 90%;

		.page-heading h1 {
			margin-top: 120px;
		}

		.bottom-services {
			flex-direction: column;

			.wireless-phones {
				max-width: 100%;
				margin-top: 80px;
				h2 {
					margin-top: 30px;
				}
			}
			.desktop-phones {
				max-width: 100%;
				h2 {
					margin-top: 30px;
				}
			}
		}
	}
}