.audio-page {
	font-family: "PT Sans", sans-serif;

	.header {
		background-color: #201a16;
		height: 150px;
	}

	.audio-info {
		max-width: 75%;
		margin: 0 auto;

		.page-heading {
			h1 {
				margin-top: 80px;
				margin-bottom: 40px;
			}

			p {
				margin-bottom: 80px;
			}
		}

		.home-audio-img {
			max-width: 100%;
			width: 100%;
		}

		.home-audio {
			text-align: left;

			h2 {
				margin-top: 30px;
			}
		}

		.bottom-services {
			display: flex;
			justify-content: space-between;
			text-align: left;
			margin-top: 80px;
			margin-bottom: 80px;

			.analog {
				max-width: 45%;

				h2 {
					margin-top: 60px;
				}
			}

			.digital {
				max-width: 45%;

				h2 {
					margin-top: 60px;
				}
			}

			img {
				height: 360px;
				max-width: 100%;
			}

			.analog-img {
				width: 110%;
			}
		}
	}

	.product-slides {
		margin: 0 auto;
		overflow: hidden;
	}

	.top-break-line {
		width: 90%;
		margin: 0 auto;
	}

	.top-page-break {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}

	.bottom-break-line {
		width: 90%;
		margin: 0 auto 60px auto;
	}

	.bottom-page-break {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}
}

@media screen and (max-width: 415px) {
	.audio-page .header {
		display: none;
	}

	.audio-page .audio-info {
		max-width: 90%;

		.page-heading h1 {
			margin-top: 120px;
		}

		.bottom-services {
			flex-direction: column;

			.analog {
				max-width: 100%;
				h2 {
					margin-top: 30px;
				}
			}
			.digital {
				max-width: 100%;
				margin-top: 80px;
				h2 {
					margin-top: 30px;
				}
			}
		}
	}
}
