body {
	overflow-x: hidden;
}

.link {
	text-decoration: none;
	color: #eee;
}

.logo-link {
	color: black;
}

header {
	width: 100%;
	position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
}

.container {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

nav {
	padding-top: 2rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 13px;
}

.logo {
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
	height: 75px;
	width: 200px;
	border: 2px solid #6bc06a;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style: none;
	padding: 1rem 0;
	margin: 0 2rem;
	position: relative;
	letter-spacing: 2px;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
	color: #fff;
	// cursor: pointer;
}

.link {
	cursor: pointer;
}

.navbar .nav-pills .active {
	background-color: gold;
	color: Black;
	font-weight: bold;
}

nav ul li:nth-child(1) {
	animation-delay: 0s;
}

nav ul li:nth-child(2) {
	animation-delay: .5s;
}

nav ul li:nth-child(3) {
	animation-delay: 1s;
}

nav ul li:nth-child(4) {
	animation-delay: 1.5s;
}

nav ul li:nth-child(5) {
	animation-delay: 2s;
}

nav ul li:nth-child(6) {
	animation-delay: 2.5s;
	border: 3px solid #fff;
	width: 120px;

	&:hover {
    background-color: #fff;
		
		.contact-link {
			color: black;
		}
	}

	&::before,
	&::after {
		position: absolute;
		width: 100%;
		height: 0px;
		background-color: #014890;
		left: 0;
		transform: scaleX(0);
		transition: all .1s;
	}
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li::before,
nav ul li::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #6bc06a;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li::before {
	top: 0;
	transform-origin: left;
}

nav ul li::after {
	bottom: 0;
	transform-origin: right;
}

nav ul li:hover::before,
nav ul li:hover::after {
	transform: scaleX(1);
}

.sub-nav {
	color: black;
	font-size: 13px;
	margin: 0 auto;
	width: 940px;
	background-color: #d9dbdc;
	height: 21px;
	text-align: center;
	background-color: #d9dbdc;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 16px 9px 16px 9px;
}

a {
	text-decoration: none;
	color: #772953;
}

.active {
	color: #6bc06a;
}

@keyframes slideIn {
	from {
	}
	to {
		transform: translateX(0);
	}
}
