.footer-component {
	background-color: #201a16;
	min-height: 500px;
	font-family: "PT Sans", sans-serif;

	.footer-info {
		display: flex;
	}

	.mapouter {
		position: relative;
		text-align: right;
		height: 350px;
		width: 650px;
		margin: 0 auto;
		padding-top: 100px;
	}
	.gmap_canvas {
		overflow: hidden;
		background: none !important;
		height: 350px;
		width: 650px;
	}

	.store-info {
		width: 35%;
		padding-top: 100px;
		color: white;
		font-family: "PT Sans", sans-serif;
	}

	a {
		color: white;
	}
}

@media screen and (max-width: 415px) {
	.footer-component .mapouter {
		display: none;
	}

	.footer-component .store-information {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.footer-component .store-information .store-address {
		border-right: 1px solid white;
	}

	.footer-component .store-info {
		width: 100%;
		padding-top: 0;
	}

	.footer-component .store-info .email {
		margin-bottom: 40px;
	}

	.footer-component a {
		font-size: 28px;
	}

	.footer-component {
		min-height: 350px;
	}
}