.main-services {
	margin: -275px 0 60px 0;
	font-family: "PT Sans", sans-serif;

	a {
		color: rgba(33, 41, 176, 0.82);
	}

	h1 {
		font-weight: 100;
		font-style: normal;
		font-size: 42px;
		letter-spacing: .4px;
		text-transform: none;
		line-height: 1.2em;
		margin-top: 0;
	}

	.contact-info {
		margin: 35px 0 70px 0;
		font-size: 20px;
	}

	.mission {
		font-weight: 100;
		font-style: normal;
		font-size: 32px;
		letter-spacing: .2px;
		text-transform: none;
		line-height: 1.2em;
		padding: 15px 95px 0px 95px;
		margin: 0 40px 0 40px;
	}

	.services-wrapper {
		display: grid;
		grid-template-columns: 28% 28% 28%;
		justify-items: center;
		justify-content: center;
		.service-img {
			height: 320px;
			width: 320px;
			cursor: pointer;
			box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
		}

		.service-desc {
			font-weight: 300;
			font-style: normal;
			font-size: 17px;
			letter-spacing: .5px;
			line-height: 1.6em;
			color: #1f1f1f;
			margin: 0 45px 0 45px;
		}
	}

	.showroom-info {
		margin-bottom: 60px;
		font-weight: 300;
		font-style: normal;
		font-size: 17px;
		letter-spacing: 0.5px;
		line-height: 1.6em;
		color: #1f1f1f;
	}

	.store-image {
		background-color: rgba(32, 26, 22, .6);
		height: 450px;
		margin-top: 80px;

		.store-front-img {
			width: 100%;
			height: 450px;
			position: relative;
			bottom: 450px;
			z-index: -999;
			opacity: .9;
		}

		.image-overlay {
			height: 450px;
		}

		.splash-desc {
			animation: feature-text-anim .75s ease-in-out;
			position: relative;
			width: 100%;
			max-width: 956px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0 auto;
			padding: 32px;
			bottom: 800px;
			text-align: center;
			text-rendering: optimizeLegibility;

			p {
				font-weight: 100;
				font-style: normal;
				font-size: 28px;
				letter-spacing: 4px;
				text-transform: uppercase;
				line-height: 1.3em;
				color: #9c9999;
				margin: 20px auto;
				-webkit-transform: translatez(0);
				z-index: -0;
			}

			strong {
				font-weight: 100;
				font-style: normal;
				font-size: 86px;
				letter-spacing: 0px;
				text-transform: none;
				line-height: 1.1em;
				color: #eee;
				z-index: -0;
			}
		}
	}

	.store-info {
		width: 80%;
		margin: 60px auto;

		h1 {
			margin-top: 80px;
			margin-bottom: 40px;
		}

		h3 {
			margin-bottom: 80px;
		}
	}

	.top-images {
		display: flex;
		justify-content: space-between;

		.store1 {
			width: 47%;
			height: 600px;
			box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
		}
		.store2 {
			width: 47%;
			height: 600px;
			box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
		}
	}

	.store3,
	.store4 {
		margin-top: 60px;
		width: 100%;
		height: 700px;
		box-shadow: 2px 4px 14px 0 rgba(0, 0, 0, 0.19);
	}
}

@media screen and (max-width: 1150px) {
	.main-services {
		margin: -220px 0 60px 0;

		h1 {
			font-size: 32px;
		}

		.mission {
			font-size: 16px;
			margin: 0 10px 0 10px;
			padding: 15px 45px 0px 45px;
		}

		.contact-info {
			margin: 35px 7px 70px 7px;
		}

		.services-wrapper {
			display: flex;
			flex-direction: column;

			.service {
				margin-bottom: 40px;
			}

			.service-img {
				width: 50%;
			}

			.service-desc {
				margin: 0 25px 0 25px;
			}
		}

		.store-info {
			width: 50%;

			.top-images {
				flex-direction: column;
			}

			.store2 {
				margin-bottom: 45px;
			}

			.store1,
			.store2 {
				width: 100%;
				height: 350px;
			}
		}

		.store-image .splash-desc {
			strong {
				font-size: 50px;
			}

			p {
				font-size: 22px;
			}
		}

		.store3,
		.store4 {
			height: 350px;
		}
	}
}

@media screen and (max-width: 415px) {
	.main-services {
		margin: -220px 0 60px 0;

		h1 {
			font-size: 32px;
		}

		.mission {
			font-size: 16px;
			margin: 0 10px 0 10px;
			padding: 15px 45px 0px 45px;
		}

		.contact-info {
			margin: 35px 7px 70px 7px;
		}

		.services-wrapper {
			display: flex;
			flex-direction: column;

			.service {
				margin-bottom: 40px;
			}

			.service-img {
				width: 90%;
			}

			.service-desc {
				margin: 0 25px 0 25px;
			}
		}

		.store-image .splash-desc {
			strong {
				font-size: 50px;
			}

			p {
				font-size: 22px;
			}
		}

		.store-info {
			width: 90%;

			.top-images {
				flex-direction: column;
			}

			.store1,
			.store2 {
				width: 100%;
				height: 350px;
			}
			.store2 {
				margin-bottom: 45px;
			}
		}

		.store3 {
			height: 350px;
		}
	}
}
