.products-page {
	font-family: "PT Sans", sans-serif;

	.brands {
		margin: -235px 0 60px 0;
	}

	.brand-heading {
		max-width: 65%;
		margin: 0 auto;

		.brand-subtitle {
			margin-top: 30px;
		}

		a {
			color: rgba(33, 41, 176, 0.82);
		}
	}
	.logo-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 75px;
		grid-row-gap: 100px;
		align-content: center;
		justify-content: center;
		padding: 40px;
	}

	.hr-line {
		width: 80%;
		margin: 80px auto;
	}

	.page-break {
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}
}

@media screen and (max-width: 2560px) {
	.products-page .brands {
		margin: -170px 0 60px 0;
	}
}

@media screen and (max-width: 415px) {
	.products-page {
		.brands {
			margin: -215px 0 60px 0;

			.brand-heading {
				max-width: 95%;
			}

			.logo-container {
				max-width: 100%;
				grid-template-columns: 1fr 1fr;
				grid-gap: 5px;
				grid-row-gap: 75px;
			}
		}
	}
}
