.security-page {
	font-family: "PT Sans", sans-serif;

	.header {
		background-color: #201a16;
		height: 150px;
	}

	.security-info {
		max-width: 75%;
		margin: 0 auto;

		.page-heading {
			h1 {
				margin-top: 80px;
				margin-bottom: 40px;
			}

			p {
				margin-bottom: 80px;
			}
		}

		.honeywell-img {
			width: 100%;
		}

		.security-systems {
			text-align: left;

			h2 {
				margin-top: 30px;
			}
		}

		.bottom-services {
			display: flex;
			justify-content: space-between;
			text-align: left;
			margin-top: 80px;
			margin-bottom: 80px;

			.smart-devices {
				max-width: 45%;

				h2 {
					margin-top: 60px;
				}
			}

			.camera-systems {
				max-width: 45%;

				h2 {
					margin-top: 60px;
				}
			}

			img {
				width: 100%;
				height: 325px;
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 2560px) {
	.security-page .security-info .honeywell-img {
		height: 1050px;
	}

	.security-page .security-info .bottom-services img {
		height: 550px;
	}
}

@media screen and (max-width: 1920px) {
	.security-page .security-info .honeywell-img {
		height: 900px;
	}

	.security-page .security-info .bottom-services img {
		height: 425px;
	}
}

@media screen and (max-width: 1440px) {
	.security-page .security-info .honeywell-img {
		height: 600px;
	}

	.security-page .security-info .bottom-services img {
		height: 350px;
	}
}

@media screen and (max-width: 438px) {
	.security-page .header {
		display: none;
	}

	.security-page .security-info {
		max-width: 90%;

		.honeywell-img {
			height: 350px;
		}

		.page-heading h1 {
			margin-top: 120px;
		}

		.bottom-services {
			flex-direction: column;

			.smart-devices {
				max-width: 100%;
				margin-top: 80px;
				h2 {
					margin-top: 30px;
				}
			}
			.camera-systems {
				max-width: 100%;
				h2 {
					margin-top: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.security-page .security-info .page-heading h1 {
		margin-top: 100px;
	}
}
